/* Nastavení fontů */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Telegram&display=swap');

/* Globalní styl */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Telegram', sans-serif;
    color: #FFE77D;
}
body, html {
    background-color: #600000;
    font-family: 'Telegram', sans-serif;
    color: #FFE77D;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    color: #FFE77D;
}
/* Particles.js */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Zůstává na pozadí */
    background-color: #600000;
}

/* Header */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: #FFE77D;
}

header .header-content {
    max-width: 1000px;
}

.logo {
    width: 200px; /* Šířka loga - můžeš zvětšit podle potřeby */
    height: auto; /* Zachová poměr stran */
    margin-bottom: 20px; /* Mezera pod logem, aby se text neposunul příliš blízko */
}
header h1 {
    font-size: 6em;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}

header h2 {
    font-size: 2.8em;
    margin: 10px 0 20px;
    font-weight: 100;
    font-family: 'Telegram', sans-serif;
}

header .buttons {
    margin-top: 50px;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.26);
    color: #FFE77D;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FFE77D;
    transition: all 0.3s ease-in-out;
}

header .btn:hover {
    background-color: #FFE77D;
    color: #600000;
    border-color: #600000;
}

header .logo {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}


h2{
    font-size: 3.5em;
    margin: 1em;
    font-family: 'Abril Fatface', cursive;
}

p{
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%
}


#countdown-section {
    text-align: center;
    padding: 50px 20px;
    z-index: 2;
    position: relative;
}

#countdown {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 2;
}

.number {
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffe77db0;
    color: #600000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.circle .number {
    font-size: 1.5em;
    color: #600000;
}

.circle .label {
    font-size: 0.8em;
    color: #600000;
}

section {
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
    z-index: 2;
    position: relative;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #600000;
    color: #CEBB67;
    font-size: 0.9em;
    z-index: 2;
    position: relative;
}

a {
    color: #FFE77D;
}

@media (max-width: 600px) {
    .circle {
        width: 80px;
        height: 80px;
    }

    .header-content h1 {
        font-size: 3em;
    }
}


#program {
    text-align: center;
    padding: 50px 20px;
}

.program-block {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffe77db0;
    border-radius: 8px;
}

.program-block h3 {
    font-size: 1.5em;
    color: #600000;

}

/* Sekce pro sponzory */
#sponsors {
    padding: 50px 20px;
    text-align: center;
    color: #FFE77D;
    margin: 20px 20px 20px 20px;
}

#sponsors h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Abril Fatface', cursive;
}

/* Flexibilní grid pro sponzory */
.sponsors-grid {
    display: flex;
    gap: 20px;
    flex-direction: column; /* Řazení do sloupce */
    align-items: center; /* Zarovnání obrázků na střed */
}

/* Styly pro jednotlivé loga sponzorů */
.sponsor img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}









/* Responzivní styly pro menší obrazovky */

@media (max-width: 480px) {
    header h1 {
        font-size: 3.5em;
        margin: 10px 0 20px;
        font-family: 'Abril Fatface', cursive;
    }
    
    header h2 {
        font-size: 2.0em;
        margin: 10px 0 20px;
        font-weight: 100;
        font-family: 'Telegram', sans-serif;
    }
}

/* Kontejner pro responzivní iframe */
.responsive-iframe-container {
    position: relative; /* Pro absolutní umístění iframe uvnitř */
    width: 100%; /* Výchozí šířka pro menší obrazovky */
    max-width: 700px; /* Maximální šířka iframe na velkých obrazovkách */
    margin: 0 auto; /* Horizontální centrování na velkých obrazovkách */
    padding-bottom: 45%; /* Poměr stran 700px x 466px */
    height: 0; /* Výška se odvozuje z padding-bottom */
    overflow: hidden; /* Skryje obsah, který přesahuje */
}

.responsive-iframe-container iframe {
    position: absolute; /* Absolutní umístění uvnitř kontejneru */
    top: 0;
    left: 0;
    width: 100%; /* Iframe se přizpůsobí šířce kontejneru */
    height: 100%; /* Iframe se přizpůsobí výšce kontejneru */
    border: none; /* Skryje rámeček iframe */
}

/* Media queries pro větší obrazovky */
@media (min-width: 1024px) {
    .responsive-iframe-container {
        width: 90%; /* Omezí šířku iframe na 90% stránky */
        max-width: 700px; /* Maximální šířka na velkých obrazovkách */
    }
}

